@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Deleted Data";
    ViewData["Nav"] = "nav-deleted-data";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a sp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>
<div class="card border-0 p-4">

    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 h3 align-item-center page-title">
            @ViewData["Title"]
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item mt-3">
            <a class="nav-link text-black active" data-bs-toggle="tab" href="#msg">Manage Users</a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link text-black" data-bs-toggle="tab" href="#pro">Manage Roles</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane active" id="msg">
            <div class="table-responsive">
                <table class="table table-borderless table-responsive-lg">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>First name</td>
                            <td>Last name</td>
                            <td>Username</td>
                            <td>Role (s)</td>
                            <td>Email</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>T</td>
                            <td>Challa</td>
                            <td>johncarter888</td>
                            <td><button class="role-card role-admin">Admin</button></td>
                            <td>john.c@gmail.com</td>
                            <td>
                                <a href="" class="restore-data">
                                    <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M17 6.375C14.7036 6.37588 12.4694 7.12073 10.6318 8.49796C8.79428 9.87519 7.45239 11.8107 6.80715 14.0145C6.16191 16.2184 6.24804 18.572 7.05264 20.7228C7.85724 22.8736 9.337 24.7058 11.2703 25.9451C13.2036 27.1843 15.4863 27.7638 17.7766 27.5969C20.0669 27.4299 22.2415 26.5254 23.9746 25.0189C25.7077 23.5124 26.9061 21.4849 27.3903 19.2402C27.8744 16.9954 27.6183 14.6542 26.6602 12.5673C26.556 12.3135 26.5539 12.0293 26.6544 11.774C26.7549 11.5188 26.9503 11.3123 27.1996 11.1978C27.4489 11.0833 27.7328 11.0697 27.9919 11.1598C28.251 11.2499 28.4652 11.4367 28.5898 11.6811C29.7394 14.1856 30.0466 16.9952 29.4654 19.6889C28.8842 22.3827 27.4459 24.8157 25.366 26.6234C23.286 28.4311 20.6763 29.5163 17.9279 29.7164C15.1794 29.9164 12.4401 29.2206 10.1202 27.7332C7.80041 26.2458 6.02493 24.0468 5.05976 21.4656C4.09458 18.8844 3.99168 16.0599 4.76645 13.4154C5.54122 10.7708 7.15196 8.44839 9.3574 6.79608C11.5628 5.14376 14.2443 4.25047 17 4.25V6.375Z"
                                            fill="black" />
                                        <path
                                            d="M17 9.49025V1.13475C17 1.0338 17.0288 0.93496 17.083 0.84979C17.1372 0.76462 17.2145 0.69665 17.3059 0.653839C17.3974 0.611029 17.4991 0.595151 17.5992 0.608063C17.6993 0.620976 17.7937 0.662145 17.8712 0.72675L22.8863 4.9045C23.1413 5.117 23.1413 5.508 22.8863 5.7205L17.8712 9.89825C17.7937 9.96286 17.6993 10.004 17.5992 10.0169C17.4991 10.0298 17.3974 10.014 17.3059 9.97116C17.2145 9.92835 17.1372 9.86038 17.083 9.77521C17.0288 9.69004 17 9.5912 17 9.49025Z"
                                            fill="black" />
                                    </svg>
                                </a>
                                <a href="" class="delete-data">
                                    <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                            fill="black" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Clint</td>
                            <td>Barton</td>
                            <td>sclng123</td>
                            <td><button class="role-card role-operator">Operator</button></td>
                            <td>scott.l@gmail.com</td>
                            <td>
                                <a href="" class="restore-data">
                                    <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M17 6.375C14.7036 6.37588 12.4694 7.12073 10.6318 8.49796C8.79428 9.87519 7.45239 11.8107 6.80715 14.0145C6.16191 16.2184 6.24804 18.572 7.05264 20.7228C7.85724 22.8736 9.337 24.7058 11.2703 25.9451C13.2036 27.1843 15.4863 27.7638 17.7766 27.5969C20.0669 27.4299 22.2415 26.5254 23.9746 25.0189C25.7077 23.5124 26.9061 21.4849 27.3903 19.2402C27.8744 16.9954 27.6183 14.6542 26.6602 12.5673C26.556 12.3135 26.5539 12.0293 26.6544 11.774C26.7549 11.5188 26.9503 11.3123 27.1996 11.1978C27.4489 11.0833 27.7328 11.0697 27.9919 11.1598C28.251 11.2499 28.4652 11.4367 28.5898 11.6811C29.7394 14.1856 30.0466 16.9952 29.4654 19.6889C28.8842 22.3827 27.4459 24.8157 25.366 26.6234C23.286 28.4311 20.6763 29.5163 17.9279 29.7164C15.1794 29.9164 12.4401 29.2206 10.1202 27.7332C7.80041 26.2458 6.02493 24.0468 5.05976 21.4656C4.09458 18.8844 3.99168 16.0599 4.76645 13.4154C5.54122 10.7708 7.15196 8.44839 9.3574 6.79608C11.5628 5.14376 14.2443 4.25047 17 4.25V6.375Z"
                                            fill="black" />
                                        <path
                                            d="M17 9.49025V1.13475C17 1.0338 17.0288 0.93496 17.083 0.84979C17.1372 0.76462 17.2145 0.69665 17.3059 0.653839C17.3974 0.611029 17.4991 0.595151 17.5992 0.608063C17.6993 0.620976 17.7937 0.662145 17.8712 0.72675L22.8863 4.9045C23.1413 5.117 23.1413 5.508 22.8863 5.7205L17.8712 9.89825C17.7937 9.96286 17.6993 10.004 17.5992 10.0169C17.4991 10.0298 17.3974 10.014 17.3059 9.97116C17.2145 9.92835 17.1372 9.86038 17.083 9.77521C17.0288 9.69004 17 9.5912 17 9.49025Z"
                                            fill="black" />
                                    </svg>
                                </a>
                                <a href="" class="delete-data">
                                    <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                            fill="black" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane container fade" id="pro">
            <div class="d-flex justify-content-center align-items-center py-5 h3 font-weight-bold">
                No data found
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4">
        <div class="d-flex align-items-center">
            Showing 1 to 6 of 10 rows
            <div class="dropdown mx-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    10
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item active" href="#">10</a></li>
                    <li><a class="dropdown-item" href="#">100</a></li>
                </ul>
            </div>
            rows per page
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-lg-end mt-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M31.3256 8.82563L17.6512 22.5L31.3256 36.1744L28.6744 38.8256L12.3487 22.5L28.6744 6.17438L31.3256 8.82563Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.6744 8.82563L27.3488 22.5L13.6744 36.1744L16.3256 38.8256L32.6513 22.5L16.3256 6.17438L13.6744 8.82563Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
