@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Role";
    ViewData["Nav"] = "nav-manage-role";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="ManageUser" asp-action="Index">@ViewData["Title"]</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Super Admin
        </li>
    </ol>
</nav>

<div class="card border-0 p-4">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-auto h3 align-item-center page-title d-flex align-items-center">
            Manage Roles
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-auto d-flex justify-content-end align-items-center">
            <span class="px-3">Last updated : 8/11/2023 by ironmanboi</span>
            <button class="btn-primary">
                <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.09375 21.6562C1.38383 21.6562 1.66203 21.7715 1.86715 21.9766C2.07227 22.1817 2.1875 22.4599 2.1875 22.75V28.2188C2.1875 28.7989 2.41797 29.3553 2.8282 29.7655C3.23844 30.1758 3.79484 30.4062 4.375 30.4062H30.625C31.2052 30.4062 31.7616 30.1758 32.1718 29.7655C32.582 29.3553 32.8125 28.7989 32.8125 28.2188V22.75C32.8125 22.4599 32.9277 22.1817 33.1329 21.9766C33.338 21.7715 33.6162 21.6562 33.9062 21.6562C34.1963 21.6562 34.4745 21.7715 34.6796 21.9766C34.8848 22.1817 35 22.4599 35 22.75V28.2188C35 29.3791 34.5391 30.4919 33.7186 31.3123C32.8981 32.1328 31.7853 32.5938 30.625 32.5938H4.375C3.21468 32.5938 2.10188 32.1328 1.28141 31.3123C0.460936 30.4919 0 29.3791 0 28.2188V22.75C0 22.4599 0.115234 22.1817 0.320352 21.9766C0.52547 21.7715 0.803669 21.6562 1.09375 21.6562Z"
                        fill="black" />
                    <path
                        d="M16.7256 2.50688C16.8272 2.40502 16.9479 2.32421 17.0808 2.26907C17.2137 2.21393 17.3561 2.18555 17.5 2.18555C17.6439 2.18555 17.7863 2.21393 17.9192 2.26907C18.0521 2.32421 18.1728 2.40502 18.2744 2.50688L24.8369 9.06938C25.0423 9.27475 25.1576 9.5533 25.1576 9.84375C25.1576 10.1342 25.0423 10.4127 24.8369 10.6181C24.6315 10.8235 24.353 10.9389 24.0625 10.9389C23.7721 10.9389 23.4935 10.8235 23.2881 10.6181L18.5938 5.92156V25.1562C18.5938 25.4463 18.4785 25.7245 18.2734 25.9296C18.0683 26.1348 17.7901 26.25 17.5 26.25C17.2099 26.25 16.9317 26.1348 16.7266 25.9296C16.5215 25.7245 16.4063 25.4463 16.4063 25.1562V5.92156L11.7119 10.6181C11.6102 10.7198 11.4895 10.8005 11.3566 10.8555C11.2237 10.9106 11.0813 10.9389 10.9375 10.9389C10.7937 10.9389 10.6513 10.9106 10.5184 10.8555C10.3856 10.8005 10.2648 10.7198 10.1631 10.6181C10.0614 10.5164 9.98077 10.3957 9.92574 10.2628C9.8707 10.13 9.84238 9.98757 9.84238 9.84375C9.84238 9.69994 9.8707 9.55753 9.92574 9.42466C9.98077 9.29179 10.0614 9.17107 10.1631 9.06938L16.7256 2.50688Z"
                        fill="black" />
                </svg>
                Export
            </button>
        </div>
    </div>

    <hr class="content-hr-divider">

    <form action="">
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <label for="">Role name</label>
                <input type="text" class="form-control mb-4" value="Super Admin" name="">

                <label for="">Descriptions</label>
                <textarea class="form-control mb-4" name="" id="" rows="7">
                    Lorem Ipsum is simply dummy text of the printing
                </textarea>

                <div class="row">
                    <div class="col">
                        <label for="exampleColorInput" class="form-label">Background Color</label>
                        <input type="color" class="mb-4 form-control form-control-color" id="exampleColorInput"
                            value="#EA6B03" title="Choose your color">
                    </div>
                    <div class="col">
                        <label for="exampleColorInput" class="form-label">Text</label>
                        <input type="color" class="mb-4 form-control form-control-color" id="exampleColorInput"
                            value="#ffffff" title="Choose your color">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <label class="d-block" for="">Accesses</label>
                                <table class="table table-borderless table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="px-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="defaultCheck1" checked>
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        All page
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0" style="width: 50%;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="defaultCheck1" checked>
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Dashboard
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="">
                                                    <svg width="20" height="20" viewBox="0 0 35 35" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_24_396)">
                                                            <path
                                                                d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                                                fill="black" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                                                fill="black" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_24_396">
                                                                <rect width="35" height="35" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="defaultCheck1" checked>
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Manage Users
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="">
                                                    <svg width="20" height="20" viewBox="0 0 35 35" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_24_396)">
                                                            <path
                                                                d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                                                fill="black" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                                                fill="black" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_24_396">
                                                                <rect width="35" height="35" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="defaultCheck1" checked>
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Activity Logging
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="">
                                                    <svg width="20" height="20" viewBox="0 0 35 35" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_24_396)">
                                                            <path
                                                                d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                                                fill="black" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                                                fill="black" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_24_396">
                                                                <rect width="35" height="35" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="defaultCheck1" checked>
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Deleted Data
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="">
                                                    <svg width="20" height="20" viewBox="0 0 35 35" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_24_396)">
                                                            <path
                                                                d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                                                fill="black" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                                                fill="black" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_24_396">
                                                                <rect width="35" height="35" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="defaultCheck1" checked>
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Settings
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="">
                                                    <svg width="20" height="20" viewBox="0 0 35 35" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_24_396)">
                                                            <path
                                                                d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                                                fill="black" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                                                fill="black" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_24_396">
                                                                <rect width="35" height="35" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
            </div>
        </div>

        <div class="d-flex mt-5">
            <button class="btn-primary">Save</button>
            <button class="btn-outline-primary mx-2">Cancel</button>
        </div>
    </form>
</div>