<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System Admin</title>
    <link rel="icon" type="image/x-icon" href="~/images/logo.jpg" width="100%">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @* Sweet Alert 2 *@
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />

    @* Flatpickr *@
    <link rel="stylesheet" href="~/lib/flatpickr/css/flatpickr.min.css" />
    <link rel="stylesheet" href="~/lib/flatpickr/css/theme.css" />

    @* Custom *@
    <link rel="stylesheet" href="~/TestWebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header pb-2">
                <h3>
                    <span style="color: #EA6B03; font-size: 40px; font-family: 'Poppins-SemiBold'">ZENITH</span>
                    <span style="color: #2D4E9E; font-size: 40px; font-family: 'Poppins-SemiBold'">COMP</span>
                </h3>
            </div>

            <ul class="list-unstyled components">
                @* <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                <a href="#">Home 1</a>
                </li>
                <li>
                <a href="#">Home 2</a>
                </li>
                <li>
                <a href="#">Home 3</a>
                </li>
                </ul>
                </li> *@
                <li class="nav-dashboard">
                    <a asp-controller="Home" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 42 42" fill="" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 28.875C3 28.1788 3.27656 27.5111 3.76884 27.0188C4.26113 26.5266 4.92881 26.25 5.625 26.25H10.875C11.5712 26.25 12.2389 26.5266 12.7312 27.0188C13.2234 27.5111 13.5 28.1788 13.5 28.875V36.75C13.5 37.4462 13.2234 38.1139 12.7312 38.6062C12.2389 39.0984 11.5712 39.375 10.875 39.375H5.625C4.92881 39.375 4.26113 39.0984 3.76884 38.6062C3.27656 38.1139 3 37.4462 3 36.75V28.875ZM16.125 18.375C16.125 17.6788 16.4016 17.0111 16.8938 16.5188C17.3861 16.0266 18.0538 15.75 18.75 15.75H24C24.6962 15.75 25.3639 16.0266 25.8562 16.5188C26.3484 17.0111 26.625 17.6788 26.625 18.375V36.75C26.625 37.4462 26.3484 38.1139 25.8562 38.6062C25.3639 39.0984 24.6962 39.375 24 39.375H18.75C18.0538 39.375 17.3861 39.0984 16.8938 38.6062C16.4016 38.1139 16.125 37.4462 16.125 36.75V18.375ZM29.25 5.25C29.25 4.55381 29.5266 3.88613 30.0188 3.39384C30.5111 2.90156 31.1788 2.625 31.875 2.625H37.125C37.8212 2.625 38.4889 2.90156 38.9812 3.39384C39.4734 3.88613 39.75 4.55381 39.75 5.25V36.75C39.75 37.4462 39.4734 38.1139 38.9812 38.6062C38.4889 39.0984 37.8212 39.375 37.125 39.375H31.875C31.1788 39.375 30.5111 39.0984 30.0188 38.6062C29.5266 38.1139 29.25 37.4462 29.25 36.75V5.25Z"
                                fill="black" />
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li class="nav-manage-user">
                    <a asp-controller="ManageUser" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8_1302)">
                                <path
                                    d="M3.16667 38C3.16667 38 0 38 0 34.8333C0 31.6667 3.16667 22.1667 19 22.1667C34.8333 22.1667 38 31.6667 38 34.8333C38 38 34.8333 38 34.8333 38H3.16667ZM19 19C21.5196 19 23.9359 17.9991 25.7175 16.2175C27.4991 14.4359 28.5 12.0196 28.5 9.5C28.5 6.98044 27.4991 4.56408 25.7175 2.78249C23.9359 1.00089 21.5196 0 19 0C16.4804 0 14.0641 1.00089 12.2825 2.78249C10.5009 4.56408 9.5 6.98044 9.5 9.5C9.5 12.0196 10.5009 14.4359 12.2825 16.2175C14.0641 17.9991 16.4804 19 19 19Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_8_1302">
                                    <rect width="38" height="38" />
                                </clipPath>
                            </defs>
                        </svg>
                        </span>
                        Manage User
                    </a>
                </li>
                <li class="nav-manage-role">
                    <a asp-controller="ManageRole" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8_1307)">
                                <path
                                    d="M24.4286 8.14286C24.4286 10.3025 23.5707 12.3736 22.0436 13.9007C20.5165 15.4278 18.4453 16.2857 16.2857 16.2857C14.1261 16.2857 12.0549 15.4278 10.5278 13.9007C9.00076 12.3736 8.14286 10.3025 8.14286 8.14286C8.14286 5.98324 9.00076 3.91207 10.5278 2.38499C12.0549 0.857906 14.1261 0 16.2857 0C18.4453 0 20.5165 0.857906 22.0436 2.38499C23.5707 3.91207 24.4286 5.98324 24.4286 8.14286ZM0 29.8571C0 32.5714 2.71429 32.5714 2.71429 32.5714H16.9806C16.5191 31.2637 16.2842 29.8868 16.2857 28.5C16.2839 26.7543 16.6572 25.0286 17.3802 23.4397C18.1032 21.8508 19.1592 20.4358 20.4766 19.2904C19.209 19.1031 17.8166 19 16.2857 19C2.71429 19 0 27.1429 0 29.8571ZM26.8334 20.2486C27.322 18.5847 29.678 18.5847 30.1693 20.2486L30.286 20.6503C30.3589 20.8995 30.4867 21.1291 30.6601 21.3224C30.8334 21.5157 31.0479 21.6677 31.2877 21.7671C31.5275 21.8666 31.7866 21.911 32.0459 21.8972C32.3051 21.8834 32.558 21.8116 32.7859 21.6871L33.155 21.4863C34.6777 20.6557 36.3443 22.3223 35.5164 23.845L35.3129 24.2141C35.1889 24.4419 35.1176 24.6945 35.104 24.9535C35.0904 25.2124 35.135 25.4711 35.2344 25.7105C35.3338 25.95 35.4856 26.1642 35.6786 26.3374C35.8716 26.5105 36.1009 26.6383 36.3497 26.7113L36.7541 26.8334C38.4153 27.322 38.4153 29.678 36.7541 30.1693L36.347 30.286C36.0983 30.3595 35.8692 30.4878 35.6765 30.6614C35.4839 30.835 35.3325 31.0496 35.2336 31.2893C35.1347 31.5291 35.0907 31.7879 35.1049 32.0469C35.1191 32.3059 35.1911 32.5583 35.3156 32.7859L35.5164 33.155C36.3443 34.6777 34.6777 36.3443 33.155 35.5164L32.7859 35.3129C32.5581 35.1889 32.3055 35.1176 32.0465 35.104C31.7876 35.0904 31.5289 35.135 31.2895 35.2344C31.05 35.3338 30.8358 35.4856 30.6626 35.6786C30.4895 35.8716 30.3617 36.1009 30.2887 36.3497L30.1666 36.7541C29.678 38.4153 27.322 38.4153 26.8307 36.7541L26.714 36.347C26.6405 36.0983 26.5122 35.8692 26.3386 35.6765C26.165 35.4839 25.9504 35.3325 25.7107 35.2336C25.4709 35.1347 25.2121 35.0907 24.9531 35.1049C24.6941 35.1191 24.4416 35.1911 24.2141 35.3156L23.845 35.5164C22.3223 36.3443 20.6557 34.6777 21.4836 33.155L21.6871 32.7859C21.8111 32.5581 21.8824 32.3055 21.896 32.0465C21.9096 31.7876 21.865 31.5289 21.7656 31.2895C21.6662 31.05 21.5144 30.8358 21.3214 30.6626C21.1284 30.4895 20.8991 30.3617 20.6503 30.2887L20.2486 30.1666C18.5847 29.678 18.5847 27.322 20.2486 26.8307L20.6503 26.714C20.8995 26.6411 21.1291 26.5133 21.3224 26.3399C21.5157 26.1666 21.6677 25.9521 21.7671 25.7123C21.8666 25.4725 21.911 25.2134 21.8972 24.9541C21.8834 24.6949 21.8116 24.442 21.6871 24.2141L21.4863 23.845C20.6557 22.3223 22.3223 20.6557 23.845 21.4836L24.2141 21.6871C24.4419 21.8111 24.6945 21.8824 24.9535 21.896C25.2124 21.9096 25.4711 21.865 25.7105 21.7656C25.95 21.6662 26.1642 21.5144 26.3374 21.3214C26.5105 21.1284 26.6383 20.8991 26.7113 20.6503L26.8334 20.2486ZM32.5714 28.5C32.5714 27.9653 32.4661 27.4359 32.2615 26.9419C32.0569 26.448 31.757 25.9991 31.3789 25.6211C31.0009 25.243 30.552 24.9431 30.0581 24.7385C29.5641 24.5339 29.0347 24.4286 28.5 24.4286C27.9653 24.4286 27.4359 24.5339 26.9419 24.7385C26.448 24.9431 25.9991 25.243 25.6211 25.6211C25.243 25.9991 24.9431 26.448 24.7385 26.9419C24.5339 27.4359 24.4286 27.9653 24.4286 28.5C24.4286 29.5798 24.8575 30.6154 25.6211 31.3789C26.3846 32.1425 27.4202 32.5714 28.5 32.5714C29.5798 32.5714 30.6154 32.1425 31.3789 31.3789C32.1425 30.6154 32.5714 29.5798 32.5714 28.5Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_8_1307">
                                    <rect width="38" height="38" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        </span>
                        Manage Role
                    </a>
                </li>
                <li class="nav-activity-logging">
                    <a asp-controller="ActivityLogging" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_9_1321)">
                                <path
                                    d="M25 1.25C25 0.918479 24.8683 0.600537 24.6339 0.366117C24.3995 0.131696 24.0815 0 23.75 0L16.25 0C15.9185 0 15.6005 0.131696 15.3661 0.366117C15.1317 0.600537 15 0.918479 15 1.25C15 1.58152 14.8683 1.89946 14.6339 2.13388C14.3995 2.3683 14.0815 2.5 13.75 2.5C13.4185 2.5 13.1005 2.6317 12.8661 2.86612C12.6317 3.10054 12.5 3.41848 12.5 3.75V5C12.5 5.33152 12.6317 5.64946 12.8661 5.88388C13.1005 6.1183 13.4185 6.25 13.75 6.25H26.25C26.5815 6.25 26.8995 6.1183 27.1339 5.88388C27.3683 5.64946 27.5 5.33152 27.5 5V3.75C27.5 3.41848 27.3683 3.10054 27.1339 2.86612C26.8995 2.6317 26.5815 2.5 26.25 2.5C25.9185 2.5 25.6005 2.3683 25.3661 2.13388C25.1317 1.89946 25 1.58152 25 1.25Z"
                                    fill="black" />
                                <path
                                    d="M10.2125 2.5H8.75C7.75544 2.5 6.80161 2.89509 6.09835 3.59835C5.39509 4.30161 5 5.25544 5 6.25V36.25C5 37.2446 5.39509 38.1984 6.09835 38.9016C6.80161 39.6049 7.75544 40 8.75 40H31.25C32.2446 40 33.1984 39.6049 33.9017 38.9016C34.6049 38.1984 35 37.2446 35 36.25V6.25C35 5.25544 34.6049 4.30161 33.9017 3.59835C33.1984 2.89509 32.2446 2.5 31.25 2.5H29.7875C29.925 2.89 30 3.3125 30 3.75V5C30 5.99456 29.6049 6.94839 28.9017 7.65165C28.1984 8.35491 27.2446 8.75 26.25 8.75H13.75C12.7554 8.75 11.8016 8.35491 11.0983 7.65165C10.3951 6.94839 10 5.99456 10 5V3.75C10 3.3125 10.075 2.89 10.2125 2.5ZM15 20H25C25.3315 20 25.6495 20.1317 25.8839 20.3661C26.1183 20.6005 26.25 20.9185 26.25 21.25C26.25 21.5815 26.1183 21.8995 25.8839 22.1339C25.6495 22.3683 25.3315 22.5 25 22.5H15C14.6685 22.5 14.3505 22.3683 14.1161 22.1339C13.8817 21.8995 13.75 21.5815 13.75 21.25C13.75 20.9185 13.8817 20.6005 14.1161 20.3661C14.3505 20.1317 14.6685 20 15 20Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_9_1321">
                                    <rect width="40" height="40" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        </span>
                        Activity Loggings</a>
                </li>
                <li class="nav-deleted-data">
                    <a asp-controller="DeletedData" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M24.75 3.375V5.625H32.625C32.9234 5.625 33.2095 5.74353 33.4205 5.9545C33.6315 6.16548 33.75 6.45163 33.75 6.75C33.75 7.04837 33.6315 7.33452 33.4205 7.5455C33.2095 7.75647 32.9234 7.875 32.625 7.875H31.4145L29.4953 31.86C29.4047 32.9877 28.8928 34.0399 28.0614 34.8071C27.23 35.5743 26.1401 36.0002 25.0087 36H10.9913C9.85994 36.0002 8.77004 35.5743 7.93862 34.8071C7.1072 34.0399 6.59526 32.9877 6.50475 31.86L4.5855 7.875H3.375C3.07663 7.875 2.79048 7.75647 2.5795 7.5455C2.36853 7.33452 2.25 7.04837 2.25 6.75C2.25 6.45163 2.36853 6.16548 2.5795 5.9545C2.79048 5.74353 3.07663 5.625 3.375 5.625H11.25V3.375C11.25 2.47989 11.6056 1.62145 12.2385 0.988515C12.8714 0.355579 13.7299 0 14.625 0L21.375 0C22.2701 0 23.1286 0.355579 23.7615 0.988515C24.3944 1.62145 24.75 2.47989 24.75 3.375ZM13.5 3.375V5.625H22.5V3.375C22.5 3.07663 22.3815 2.79048 22.1705 2.5795C21.9595 2.36853 21.6734 2.25 21.375 2.25H14.625C14.3266 2.25 14.0405 2.36853 13.8295 2.5795C13.6185 2.79048 13.5 3.07663 13.5 3.375ZM10.125 11.3152L11.25 30.4403C11.256 30.5898 11.2918 30.7366 11.3552 30.8721C11.4186 31.0076 11.5085 31.1291 11.6194 31.2294C11.7304 31.3298 11.8603 31.407 12.0014 31.4566C12.1426 31.5061 12.2923 31.527 12.4416 31.5181C12.591 31.5091 12.737 31.4704 12.8712 31.4043C13.0055 31.3382 13.1251 31.2459 13.2233 31.133C13.3214 31.0201 13.396 30.8887 13.4428 30.7466C13.4895 30.6044 13.5075 30.4544 13.4955 30.3053L12.3705 11.1803C12.3645 11.0307 12.3287 10.8839 12.2653 10.7484C12.2019 10.6129 12.112 10.4914 12.0011 10.3911C11.8901 10.2907 11.7602 10.2135 11.6191 10.1639C11.4779 10.1144 11.3282 10.0935 11.1789 10.1024C11.0295 10.1114 10.8835 10.1501 10.7493 10.2162C10.615 10.2823 10.4954 10.3746 10.3972 10.4875C10.2991 10.6004 10.2245 10.7318 10.1777 10.8739C10.131 11.0161 10.1131 11.1661 10.125 11.3152ZM24.8175 10.1272C24.5198 10.11 24.2274 10.2118 24.0046 10.4101C23.7818 10.6084 23.6469 10.887 23.6295 11.1848L22.5045 30.3097C22.4948 30.6031 22.6002 30.8885 22.7981 31.1053C22.9959 31.322 23.2706 31.4528 23.5636 31.4699C23.8566 31.4869 24.1446 31.3888 24.3663 31.1964C24.5879 31.0041 24.7256 30.7327 24.75 30.4403L25.875 11.3152C25.8922 11.0175 25.7905 10.7251 25.5922 10.5023C25.3939 10.2796 25.1152 10.1446 24.8175 10.1272ZM18 10.125C17.7016 10.125 17.4155 10.2435 17.2045 10.4545C16.9935 10.6655 16.875 10.9516 16.875 11.25V30.375C16.875 30.6734 16.9935 30.9595 17.2045 31.1705C17.4155 31.3815 17.7016 31.5 18 31.5C18.2984 31.5 18.5845 31.3815 18.7955 31.1705C19.0065 30.9595 19.125 30.6734 19.125 30.375V11.25C19.125 10.9516 19.0065 10.6655 18.7955 10.4545C18.5845 10.2435 18.2984 10.125 18 10.125Z"
                                fill="black" />
                        </svg>
                        </span>
                        Deleted Data</a>
                </li>
                <li class="nav-setting">
                    <a asp-controller="Setting" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_9_1332)">
                                <path
                                    d="M20.5734 2.29688C19.67 -0.765625 15.33 -0.765625 14.4266 2.29688L14.2078 3.04062C14.0728 3.49911 13.8369 3.92157 13.5174 4.27703C13.1979 4.63248 12.8029 4.91191 12.3613 5.09483C11.9198 5.27774 11.4429 5.35951 10.9656 5.33412C10.4883 5.30874 10.0228 5.17685 9.60312 4.94813L8.925 4.57625C6.11844 3.04938 3.04937 6.11844 4.57844 8.92281L4.94813 9.60312C5.92375 11.3969 4.99844 13.6303 3.04062 14.2078L2.29688 14.4266C-0.765625 15.33 -0.765625 19.67 2.29688 20.5734L3.04062 20.7922C3.49911 20.9272 3.92157 21.1631 4.27703 21.4826C4.63248 21.8021 4.91191 22.1971 5.09483 22.6387C5.27774 23.0802 5.35951 23.5571 5.33412 24.0344C5.30874 24.5117 5.17685 24.9772 4.94813 25.3969L4.57625 26.075C3.04938 28.8816 6.11844 31.9506 8.92281 30.4216L9.60312 30.0519C10.0228 29.8232 10.4883 29.6913 10.9656 29.6659C11.4429 29.6405 11.9198 29.7223 12.3613 29.9052C12.8029 30.0881 13.1979 30.3675 13.5174 30.723C13.8369 31.0784 14.0728 31.5009 14.2078 31.9594L14.4266 32.7031C15.33 35.7656 19.67 35.7656 20.5734 32.7031L20.7922 31.9594C20.9272 31.5009 21.1631 31.0784 21.4826 30.723C21.8021 30.3675 22.1971 30.0881 22.6387 29.9052C23.0802 29.7223 23.5571 29.6405 24.0344 29.6659C24.5117 29.6913 24.9772 29.8232 25.3969 30.0519L26.075 30.4237C28.8816 31.9506 31.9506 28.8816 30.4216 26.0772L30.0519 25.3969C29.8232 24.9772 29.6913 24.5117 29.6659 24.0344C29.6405 23.5571 29.7223 23.0802 29.9052 22.6387C30.0881 22.1971 30.3675 21.8021 30.723 21.4826C31.0784 21.1631 31.5009 20.9272 31.9594 20.7922L32.7031 20.5734C35.7656 19.67 35.7656 15.33 32.7031 14.4266L31.9594 14.2078C31.5009 14.0728 31.0784 13.8369 30.723 13.5174C30.3675 13.1979 30.0881 12.8029 29.9052 12.3613C29.7223 11.9198 29.6405 11.4429 29.6659 10.9656C29.6913 10.4883 29.8232 10.0228 30.0519 9.60312L30.4237 8.925C31.9506 6.11844 28.8816 3.04937 26.0772 4.57844L25.3969 4.94813C24.9772 5.17685 24.5117 5.30874 24.0344 5.33412C23.5571 5.35951 23.0802 5.27774 22.6387 5.09483C22.1971 4.91191 21.8021 4.63248 21.4826 4.27703C21.1631 3.92157 20.9272 3.49911 20.7922 3.04062L20.5734 2.29688ZM17.5 23.9094C15.8001 23.9094 14.1699 23.2341 12.9679 22.0321C11.7659 20.8301 11.0906 19.1999 11.0906 17.5C11.0906 15.8001 11.7659 14.1699 12.9679 12.9679C14.1699 11.7659 15.8001 11.0906 17.5 11.0906C19.1993 11.0906 20.829 11.7657 22.0306 12.9672C23.2321 14.1688 23.9072 15.7985 23.9072 17.4978C23.9072 19.1971 23.2321 20.8268 22.0306 22.0284C20.829 23.23 19.1993 23.905 17.5 23.905V23.9094Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_9_1332">
                                    <rect width="35" height="35" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        </span>
                        Settings</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index" class="svg-icon">
                        <svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_48_2012)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 25C12 25.2652 12.1054 25.5196 12.2929 25.7071C12.4804 25.8946 12.7348 26 13 26H29C29.2652 26 29.5196 25.8946 29.7071 25.7071C29.8946 25.5196 30 25.2652 30 25V7C30 6.73478 29.8946 6.48043 29.7071 6.29289C29.5196 6.10536 29.2652 6 29 6H13C12.7348 6 12.4804 6.10536 12.2929 6.29289C12.1054 6.48043 12 6.73478 12 7V11C12 11.2652 11.8946 11.5196 11.7071 11.7071C11.5196 11.8946 11.2652 12 11 12C10.7348 12 10.4804 11.8946 10.2929 11.7071C10.1054 11.5196 10 11.2652 10 11V7C10 6.20435 10.3161 5.44129 10.8787 4.87868C11.4413 4.31607 12.2044 4 13 4H29C29.7956 4 30.5587 4.31607 31.1213 4.87868C31.6839 5.44129 32 6.20435 32 7V25C32 25.7956 31.6839 26.5587 31.1213 27.1213C30.5587 27.6839 29.7956 28 29 28H13C12.2044 28 11.4413 27.6839 10.8787 27.1213C10.3161 26.5587 10 25.7956 10 25V21C10 20.7348 10.1054 20.4804 10.2929 20.2929C10.4804 20.1054 10.7348 20 11 20C11.2652 20 11.5196 20.1054 11.7071 20.2929C11.8946 20.4804 12 20.7348 12 21V25Z"
                                    fill="black" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0.292002 16.708C0.198876 16.6151 0.12499 16.5048 0.0745772 16.3833C0.0241643 16.2618 -0.00178528 16.1315 -0.00178528 16C-0.00178528 15.8685 0.0241643 15.7382 0.0745772 15.6167C0.12499 15.4952 0.198876 15.3849 0.292002 15.292L6.292 9.292C6.38498 9.19902 6.49536 9.12527 6.61684 9.07495C6.73831 9.02463 6.86851 8.99873 7 8.99873C7.13149 8.99873 7.26169 9.02463 7.38317 9.07495C7.50465 9.12527 7.61503 9.19902 7.708 9.292C7.80098 9.38497 7.87473 9.49535 7.92505 9.61683C7.97537 9.73831 8.00127 9.86851 8.00127 10C8.00127 10.1315 7.97537 10.2617 7.92505 10.3832C7.87473 10.5046 7.80098 10.615 7.708 10.708L3.414 15H21C21.2652 15 21.5196 15.1054 21.7071 15.2929C21.8946 15.4804 22 15.7348 22 16C22 16.2652 21.8946 16.5196 21.7071 16.7071C21.5196 16.8946 21.2652 17 21 17H3.414L7.708 21.292C7.80098 21.385 7.87473 21.4954 7.92505 21.6168C7.97537 21.7383 8.00127 21.8685 8.00127 22C8.00127 22.1315 7.97537 22.2617 7.92505 22.3832C7.87473 22.5046 7.80098 22.615 7.708 22.708C7.61503 22.801 7.50465 22.8747 7.38317 22.925C7.26169 22.9754 7.13149 23.0013 7 23.0013C6.86851 23.0013 6.73831 22.9754 6.61684 22.925C6.49536 22.8747 6.38498 22.801 6.292 22.708L0.292002 16.708Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_48_2012">
                                    <rect width="32" height="32" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        </span>
                        Log out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid p-0">
                    <div class="d-flex justify-content-between w-100">
                        <div>
                            <button type="button" id="sidebarCollapse" class="btn btn-outline-primary">

                                <svg width="5" height="5" viewBox="0 0 34 34" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.04 6.12C1.94989 6.11872 1.86043 6.13537 1.77681 6.16897C1.69319 6.20257 1.61709 6.25246 1.55291 6.31573C1.48874 6.379 1.43779 6.45439 1.40301 6.53753C1.36823 6.62066 1.35032 6.70988 1.35032 6.8C1.35032 6.89012 1.36823 6.97933 1.40301 7.06247C1.43779 7.1456 1.48874 7.221 1.55291 7.28427C1.61709 7.34754 1.69319 7.39742 1.77681 7.43102C1.86043 7.46463 1.94989 7.48127 2.04 7.48H31.96C32.0501 7.48127 32.1396 7.46463 32.2232 7.43102C32.3068 7.39742 32.3829 7.34754 32.4471 7.28427C32.5113 7.221 32.5622 7.1456 32.597 7.06247C32.6318 6.97933 32.6497 6.89012 32.6497 6.8C32.6497 6.70988 32.6318 6.62066 32.597 6.53753C32.5622 6.45439 32.5113 6.379 32.4471 6.31573C32.3829 6.25246 32.3068 6.20257 32.2232 6.16897C32.1396 6.13537 32.0501 6.11872 31.96 6.12H2.04ZM2.04 16.32C1.94989 16.3187 1.86043 16.3354 1.77681 16.369C1.69319 16.4026 1.61709 16.4525 1.55291 16.5157C1.48874 16.579 1.43779 16.6544 1.40301 16.7375C1.36823 16.8207 1.35032 16.9099 1.35032 17C1.35032 17.0901 1.36823 17.1793 1.40301 17.2625C1.43779 17.3456 1.48874 17.421 1.55291 17.4843C1.61709 17.5475 1.69319 17.5974 1.77681 17.631C1.86043 17.6646 1.94989 17.6813 2.04 17.68H31.96C32.0501 17.6813 32.1396 17.6646 32.2232 17.631C32.3068 17.5974 32.3829 17.5475 32.4471 17.4843C32.5113 17.421 32.5622 17.3456 32.597 17.2625C32.6318 17.1793 32.6497 17.0901 32.6497 17C32.6497 16.9099 32.6318 16.8207 32.597 16.7375C32.5622 16.6544 32.5113 16.579 32.4471 16.5157C32.3829 16.4525 32.3068 16.4026 32.2232 16.369C32.1396 16.3354 32.0501 16.3187 31.96 16.32H2.04ZM2.04 26.52C1.94989 26.5187 1.86043 26.5354 1.77681 26.569C1.69319 26.6026 1.61709 26.6525 1.55291 26.7157C1.48874 26.779 1.43779 26.8544 1.40301 26.9375C1.36823 27.0207 1.35032 27.1099 1.35032 27.2C1.35032 27.2901 1.36823 27.3793 1.40301 27.4625C1.43779 27.5456 1.48874 27.621 1.55291 27.6843C1.61709 27.7475 1.69319 27.7974 1.77681 27.831C1.86043 27.8646 1.94989 27.8813 2.04 27.88H31.96C32.0501 27.8813 32.1396 27.8646 32.2232 27.831C32.3068 27.7974 32.3829 27.7475 32.4471 27.6843C32.5113 27.621 32.5622 27.5456 32.597 27.4625C32.6318 27.3793 32.6497 27.2901 32.6497 27.2C32.6497 27.1099 32.6318 27.0207 32.597 26.9375C32.5622 26.8544 32.5113 26.779 32.4471 26.7157C32.3829 26.6525 32.3068 26.6026 32.2232 26.569C32.1396 26.5354 32.0501 26.5187 31.96 26.52H2.04Z"
                                        fill="black" />
                                </svg>

                                <span>Toggle Sidebar</span>
                            </button>
                            @* <button class="btn btn-primary d-inline-block d-lg-none ml-auto" type="button"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <img src="~/svg/menu.svg" height="20" width="20">
                            </button> *@
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin 01
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

        </div>
    </div>


    @*
    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2566 - TestWebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>
    *@




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* Sweet Alert *@
    <script src="~/lib/sweetalert2/sweetalert2.min.js" />
    </script>

    @* Tabs *@
    <script src="~/lib/js/bootstrap-4-latest.min.js"></script>
    <script src="~/lib/js/bootstrap3.2.0.min.js"></script>

    @* Flatpickr *@
    <script src="~/lib/flatpickr/js/flatpickr.min.js"></script>

    @* Custom JS *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        // ACTIVE MENU
        if ('@ViewData["Nav"]' != '') {
            $('.@ViewData["Nav"]').addClass('active');
        }

        //---------------Script
        //----Start Date Picker ---
        $('.flatpickr').attr('maxlength', 10);
        $('.flatpickr').attr('placeholder', 'DD/MM/YYYY');
        $('.flatpickr').attr('autocomplete', 'off');
        $('.flatpickr').flatpickr({
            dateFormat: "d/m/Y"
            , minDate: "1/1/1900"
            , maxDate: "1/1/2300"
            , disableMobile: "true"
            , allowInput: "true"
        });

        $('.flatpickr').toArray().forEach(function (field) {
            new Cleave(field, {
                date: true
                , dateMin: '1900-01-01'
                , dateMax: '2300-01-01'
                , delimiter: '/'
                , datePattern: ['d', 'm', 'Y']
            });
        });
        //----End Date Picker ---
    </script>


</body>

</html>
