@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Activity Logging";
    ViewData["Nav"] = "nav-activity-logging";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a sp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>
<div class="card border-0 p-4">
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 h3 align-item-center page-title">
            @ViewData["Title"]
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end align-item-center">
            <div class="row">
                <div class="col-auto mt-lg-0 mt-md-3 mt-sm-3 mt-xs-3">
                    <div class="s006 mx-1">
                        <form>
                            <div class="inner-form d-flex align-items-center">
                                <div class="input-field mx-2">
                                    <button class="btn-search" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path
                                                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                            </path>
                                        </svg>
                                    </button>
                                    <input type="text" class="from-search" placeholder="" id="search" />
                                </div>
                                <input class="form-control flatpickr form-date" id="" name="" type="text" value="">
                                <span class="mx-1">-</span>
                                <input class="form-control flatpickr form-date" id="" name="" type="text" value="">
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-auto mt-lg-0 mt-md-3 mt-sm-3 mt-xs-3">
                    <button class="btn-primary mx-1">
                        <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.09375 21.6562C1.38383 21.6562 1.66203 21.7715 1.86715 21.9766C2.07227 22.1817 2.1875 22.4599 2.1875 22.75V28.2188C2.1875 28.7989 2.41797 29.3553 2.8282 29.7655C3.23844 30.1758 3.79484 30.4062 4.375 30.4062H30.625C31.2052 30.4062 31.7616 30.1758 32.1718 29.7655C32.582 29.3553 32.8125 28.7989 32.8125 28.2188V22.75C32.8125 22.4599 32.9277 22.1817 33.1329 21.9766C33.338 21.7715 33.6162 21.6562 33.9062 21.6562C34.1963 21.6562 34.4745 21.7715 34.6796 21.9766C34.8848 22.1817 35 22.4599 35 22.75V28.2188C35 29.3791 34.5391 30.4919 33.7186 31.3123C32.8981 32.1328 31.7853 32.5938 30.625 32.5938H4.375C3.21468 32.5938 2.10188 32.1328 1.28141 31.3123C0.460936 30.4919 0 29.3791 0 28.2188V22.75C0 22.4599 0.115234 22.1817 0.320352 21.9766C0.52547 21.7715 0.803669 21.6562 1.09375 21.6562Z"
                                fill="black" />
                            <path
                                d="M16.7256 2.50688C16.8272 2.40502 16.9479 2.32421 17.0808 2.26907C17.2137 2.21393 17.3561 2.18555 17.5 2.18555C17.6439 2.18555 17.7863 2.21393 17.9192 2.26907C18.0521 2.32421 18.1728 2.40502 18.2744 2.50688L24.8369 9.06938C25.0423 9.27475 25.1576 9.5533 25.1576 9.84375C25.1576 10.1342 25.0423 10.4127 24.8369 10.6181C24.6315 10.8235 24.353 10.9389 24.0625 10.9389C23.7721 10.9389 23.4935 10.8235 23.2881 10.6181L18.5938 5.92156V25.1562C18.5938 25.4463 18.4785 25.7245 18.2734 25.9296C18.0683 26.1348 17.7901 26.25 17.5 26.25C17.2099 26.25 16.9317 26.1348 16.7266 25.9296C16.5215 25.7245 16.4063 25.4463 16.4063 25.1562V5.92156L11.7119 10.6181C11.6102 10.7198 11.4895 10.8005 11.3566 10.8555C11.2237 10.9106 11.0813 10.9389 10.9375 10.9389C10.7937 10.9389 10.6513 10.9106 10.5184 10.8555C10.3856 10.8005 10.2648 10.7198 10.1631 10.6181C10.0614 10.5164 9.98077 10.3957 9.92574 10.2628C9.8707 10.13 9.84238 9.98757 9.84238 9.84375C9.84238 9.69994 9.8707 9.55753 9.92574 9.42466C9.98077 9.29179 10.0614 9.17107 10.1631 9.06938L16.7256 2.50688Z"
                                fill="black" />
                        </svg>
                        Export
                    </button>
                </div>

            </div>
        </div>
    </div>

    <hr class="content-hr-divider">

    <div class="table-responsive">
        <table class="table table-borderless table-responsive-lg">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Username</td>
                    <td>IP Address</td>
                    <td>Activity</td>
                    <td>Datails</td>
                    <td>Date / Time</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>johncarter888</td>
                    <td>223.255.255.255</td>
                    <td>Edit</td>
                    <td>Username</td>
                    <td>8-11-2023 00:00:00</td>
                    <td>
                        <a asp-controller="ActivityLogging" asp-action="ViewDetail" class="view-data">
                            <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9_1338)">
                                    <path
                                        d="M22.7501 20.0416C24.6261 17.4816 25.4664 14.3076 25.1028 11.1546C24.7392 8.00161 23.1984 5.1022 20.7889 3.03642C18.3793 0.970638 15.2786 -0.109165 12.1071 0.0130393C8.93555 0.135244 5.92712 1.45044 3.68365 3.69551C1.44019 5.94058 0.127145 8.94995 0.00720975 12.1216C-0.112725 15.2932 0.969296 18.3931 3.0368 20.8012C5.1043 23.2093 8.00481 24.7479 11.158 25.1093C14.3113 25.4707 17.4847 24.6281 20.0434 22.7502H20.0414C20.0996 22.8277 20.1616 22.9014 20.2313 22.973L27.6907 30.4324C28.054 30.796 28.5468 31.0003 29.0608 31.0005C29.5748 31.0007 30.0677 30.7967 30.4313 30.4334C30.7948 30.0701 30.9992 29.5772 30.9994 29.0633C30.9996 28.5493 30.7956 28.0563 30.4323 27.6928L22.9729 20.2334C22.9036 20.1633 22.8291 20.1005 22.7501 20.0416ZM23.2499 12.5939C23.2499 13.9933 22.9743 15.3789 22.4388 16.6718C21.9033 17.9647 21.1183 19.1394 20.1288 20.129C19.1393 21.1185 17.9645 21.9034 16.6717 22.4389C15.3788 22.9745 13.9931 23.2501 12.5937 23.2501C11.1943 23.2501 9.8086 22.9745 8.51573 22.4389C7.22285 21.9034 6.04811 21.1185 5.05859 20.129C4.06907 19.1394 3.28413 17.9647 2.74861 16.6718C2.21308 15.3789 1.93745 13.9933 1.93745 12.5939C1.93745 9.76764 3.06016 7.05718 5.05859 5.05875C7.05702 3.06031 9.76748 1.9376 12.5937 1.9376C15.4199 1.9376 18.1304 3.06031 20.1288 5.05875C22.1272 7.05718 23.2499 9.76764 23.2499 12.5939Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_1338">
                                        <rect width="31" height="31" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>sclng123</td>
                    <td>223.255.255.255</td>
                    <td>Delete</td>
                    <td>Username</td>
                    <td>8-11-2023 00:00:00</td>
                    <td>
                        <a asp-controller="ActivityLogging" asp-action="ViewDetail" class="view-data">
                            <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9_1338)">
                                    <path
                                        d="M22.7501 20.0416C24.6261 17.4816 25.4664 14.3076 25.1028 11.1546C24.7392 8.00161 23.1984 5.1022 20.7889 3.03642C18.3793 0.970638 15.2786 -0.109165 12.1071 0.0130393C8.93555 0.135244 5.92712 1.45044 3.68365 3.69551C1.44019 5.94058 0.127145 8.94995 0.00720975 12.1216C-0.112725 15.2932 0.969296 18.3931 3.0368 20.8012C5.1043 23.2093 8.00481 24.7479 11.158 25.1093C14.3113 25.4707 17.4847 24.6281 20.0434 22.7502H20.0414C20.0996 22.8277 20.1616 22.9014 20.2313 22.973L27.6907 30.4324C28.054 30.796 28.5468 31.0003 29.0608 31.0005C29.5748 31.0007 30.0677 30.7967 30.4313 30.4334C30.7948 30.0701 30.9992 29.5772 30.9994 29.0633C30.9996 28.5493 30.7956 28.0563 30.4323 27.6928L22.9729 20.2334C22.9036 20.1633 22.8291 20.1005 22.7501 20.0416ZM23.2499 12.5939C23.2499 13.9933 22.9743 15.3789 22.4388 16.6718C21.9033 17.9647 21.1183 19.1394 20.1288 20.129C19.1393 21.1185 17.9645 21.9034 16.6717 22.4389C15.3788 22.9745 13.9931 23.2501 12.5937 23.2501C11.1943 23.2501 9.8086 22.9745 8.51573 22.4389C7.22285 21.9034 6.04811 21.1185 5.05859 20.129C4.06907 19.1394 3.28413 17.9647 2.74861 16.6718C2.21308 15.3789 1.93745 13.9933 1.93745 12.5939C1.93745 9.76764 3.06016 7.05718 5.05859 5.05875C7.05702 3.06031 9.76748 1.9376 12.5937 1.9376C15.4199 1.9376 18.1304 3.06031 20.1288 5.05875C22.1272 7.05718 23.2499 9.76764 23.2499 12.5939Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_1338">
                                        <rect width="31" height="31" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>maypp</td>
                    <td>223.255.255.255</td>
                    <td>Edit</td>
                    <td>Username</td>
                    <td>8-11-2023 00:00:00</td>
                    <td>
                        <a asp-controller="ActivityLogging" asp-action="ViewDetail" class="view-data">
                            <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9_1338)">
                                    <path
                                        d="M22.7501 20.0416C24.6261 17.4816 25.4664 14.3076 25.1028 11.1546C24.7392 8.00161 23.1984 5.1022 20.7889 3.03642C18.3793 0.970638 15.2786 -0.109165 12.1071 0.0130393C8.93555 0.135244 5.92712 1.45044 3.68365 3.69551C1.44019 5.94058 0.127145 8.94995 0.00720975 12.1216C-0.112725 15.2932 0.969296 18.3931 3.0368 20.8012C5.1043 23.2093 8.00481 24.7479 11.158 25.1093C14.3113 25.4707 17.4847 24.6281 20.0434 22.7502H20.0414C20.0996 22.8277 20.1616 22.9014 20.2313 22.973L27.6907 30.4324C28.054 30.796 28.5468 31.0003 29.0608 31.0005C29.5748 31.0007 30.0677 30.7967 30.4313 30.4334C30.7948 30.0701 30.9992 29.5772 30.9994 29.0633C30.9996 28.5493 30.7956 28.0563 30.4323 27.6928L22.9729 20.2334C22.9036 20.1633 22.8291 20.1005 22.7501 20.0416ZM23.2499 12.5939C23.2499 13.9933 22.9743 15.3789 22.4388 16.6718C21.9033 17.9647 21.1183 19.1394 20.1288 20.129C19.1393 21.1185 17.9645 21.9034 16.6717 22.4389C15.3788 22.9745 13.9931 23.2501 12.5937 23.2501C11.1943 23.2501 9.8086 22.9745 8.51573 22.4389C7.22285 21.9034 6.04811 21.1185 5.05859 20.129C4.06907 19.1394 3.28413 17.9647 2.74861 16.6718C2.21308 15.3789 1.93745 13.9933 1.93745 12.5939C1.93745 9.76764 3.06016 7.05718 5.05859 5.05875C7.05702 3.06031 9.76748 1.9376 12.5937 1.9376C15.4199 1.9376 18.1304 3.06031 20.1288 5.05875C22.1272 7.05718 23.2499 9.76764 23.2499 12.5939Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_1338">
                                        <rect width="31" height="31" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>ironmanboi</td>
                    <td>223.255.255.255</td>
                    <td>Edit</td>
                    <td>Username</td>
                    <td>8-11-2023 00:00:00</td>
                    <td>
                        <a asp-controller="ActivityLogging" asp-action="ViewDetail" class="view-data">
                            <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9_1338)">
                                    <path
                                        d="M22.7501 20.0416C24.6261 17.4816 25.4664 14.3076 25.1028 11.1546C24.7392 8.00161 23.1984 5.1022 20.7889 3.03642C18.3793 0.970638 15.2786 -0.109165 12.1071 0.0130393C8.93555 0.135244 5.92712 1.45044 3.68365 3.69551C1.44019 5.94058 0.127145 8.94995 0.00720975 12.1216C-0.112725 15.2932 0.969296 18.3931 3.0368 20.8012C5.1043 23.2093 8.00481 24.7479 11.158 25.1093C14.3113 25.4707 17.4847 24.6281 20.0434 22.7502H20.0414C20.0996 22.8277 20.1616 22.9014 20.2313 22.973L27.6907 30.4324C28.054 30.796 28.5468 31.0003 29.0608 31.0005C29.5748 31.0007 30.0677 30.7967 30.4313 30.4334C30.7948 30.0701 30.9992 29.5772 30.9994 29.0633C30.9996 28.5493 30.7956 28.0563 30.4323 27.6928L22.9729 20.2334C22.9036 20.1633 22.8291 20.1005 22.7501 20.0416ZM23.2499 12.5939C23.2499 13.9933 22.9743 15.3789 22.4388 16.6718C21.9033 17.9647 21.1183 19.1394 20.1288 20.129C19.1393 21.1185 17.9645 21.9034 16.6717 22.4389C15.3788 22.9745 13.9931 23.2501 12.5937 23.2501C11.1943 23.2501 9.8086 22.9745 8.51573 22.4389C7.22285 21.9034 6.04811 21.1185 5.05859 20.129C4.06907 19.1394 3.28413 17.9647 2.74861 16.6718C2.21308 15.3789 1.93745 13.9933 1.93745 12.5939C1.93745 9.76764 3.06016 7.05718 5.05859 5.05875C7.05702 3.06031 9.76748 1.9376 12.5937 1.9376C15.4199 1.9376 18.1304 3.06031 20.1288 5.05875C22.1272 7.05718 23.2499 9.76764 23.2499 12.5939Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_1338">
                                        <rect width="31" height="31" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>capt999</td>
                    <td>223.255.255.255</td>
                    <td>Add</td>
                    <td>Username</td>
                    <td>8-11-2023 00:00:00</td>
                    <td>
                        <a asp-controller="ActivityLogging" asp-action="ViewDetail" class="view-data">
                            <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9_1338)">
                                    <path
                                        d="M22.7501 20.0416C24.6261 17.4816 25.4664 14.3076 25.1028 11.1546C24.7392 8.00161 23.1984 5.1022 20.7889 3.03642C18.3793 0.970638 15.2786 -0.109165 12.1071 0.0130393C8.93555 0.135244 5.92712 1.45044 3.68365 3.69551C1.44019 5.94058 0.127145 8.94995 0.00720975 12.1216C-0.112725 15.2932 0.969296 18.3931 3.0368 20.8012C5.1043 23.2093 8.00481 24.7479 11.158 25.1093C14.3113 25.4707 17.4847 24.6281 20.0434 22.7502H20.0414C20.0996 22.8277 20.1616 22.9014 20.2313 22.973L27.6907 30.4324C28.054 30.796 28.5468 31.0003 29.0608 31.0005C29.5748 31.0007 30.0677 30.7967 30.4313 30.4334C30.7948 30.0701 30.9992 29.5772 30.9994 29.0633C30.9996 28.5493 30.7956 28.0563 30.4323 27.6928L22.9729 20.2334C22.9036 20.1633 22.8291 20.1005 22.7501 20.0416ZM23.2499 12.5939C23.2499 13.9933 22.9743 15.3789 22.4388 16.6718C21.9033 17.9647 21.1183 19.1394 20.1288 20.129C19.1393 21.1185 17.9645 21.9034 16.6717 22.4389C15.3788 22.9745 13.9931 23.2501 12.5937 23.2501C11.1943 23.2501 9.8086 22.9745 8.51573 22.4389C7.22285 21.9034 6.04811 21.1185 5.05859 20.129C4.06907 19.1394 3.28413 17.9647 2.74861 16.6718C2.21308 15.3789 1.93745 13.9933 1.93745 12.5939C1.93745 9.76764 3.06016 7.05718 5.05859 5.05875C7.05702 3.06031 9.76748 1.9376 12.5937 1.9376C15.4199 1.9376 18.1304 3.06031 20.1288 5.05875C22.1272 7.05718 23.2499 9.76764 23.2499 12.5939Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_1338">
                                        <rect width="31" height="31" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>blackwidow</td>
                    <td>223.255.255.255</td>
                    <td>Add</td>
                    <td>Username</td>
                    <td>8-11-2023 00:00:00</td>
                    <td>
                        <a asp-controller="ActivityLogging" asp-action="ViewDetail" class="view-data">
                            <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9_1338)">
                                    <path
                                        d="M22.7501 20.0416C24.6261 17.4816 25.4664 14.3076 25.1028 11.1546C24.7392 8.00161 23.1984 5.1022 20.7889 3.03642C18.3793 0.970638 15.2786 -0.109165 12.1071 0.0130393C8.93555 0.135244 5.92712 1.45044 3.68365 3.69551C1.44019 5.94058 0.127145 8.94995 0.00720975 12.1216C-0.112725 15.2932 0.969296 18.3931 3.0368 20.8012C5.1043 23.2093 8.00481 24.7479 11.158 25.1093C14.3113 25.4707 17.4847 24.6281 20.0434 22.7502H20.0414C20.0996 22.8277 20.1616 22.9014 20.2313 22.973L27.6907 30.4324C28.054 30.796 28.5468 31.0003 29.0608 31.0005C29.5748 31.0007 30.0677 30.7967 30.4313 30.4334C30.7948 30.0701 30.9992 29.5772 30.9994 29.0633C30.9996 28.5493 30.7956 28.0563 30.4323 27.6928L22.9729 20.2334C22.9036 20.1633 22.8291 20.1005 22.7501 20.0416ZM23.2499 12.5939C23.2499 13.9933 22.9743 15.3789 22.4388 16.6718C21.9033 17.9647 21.1183 19.1394 20.1288 20.129C19.1393 21.1185 17.9645 21.9034 16.6717 22.4389C15.3788 22.9745 13.9931 23.2501 12.5937 23.2501C11.1943 23.2501 9.8086 22.9745 8.51573 22.4389C7.22285 21.9034 6.04811 21.1185 5.05859 20.129C4.06907 19.1394 3.28413 17.9647 2.74861 16.6718C2.21308 15.3789 1.93745 13.9933 1.93745 12.5939C1.93745 9.76764 3.06016 7.05718 5.05859 5.05875C7.05702 3.06031 9.76748 1.9376 12.5937 1.9376C15.4199 1.9376 18.1304 3.06031 20.1288 5.05875C22.1272 7.05718 23.2499 9.76764 23.2499 12.5939Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_1338">
                                        <rect width="31" height="31" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4">
        <div class="d-flex align-items-center">
            Showing 1 to 6 of 10 rows
            <div class="dropdown mx-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    10
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item active" href="#">10</a></li>
                    <li><a class="dropdown-item" href="#">100</a></li>
                </ul>
            </div>
            rows per page
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-lg-end mt-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M31.3256 8.82563L17.6512 22.5L31.3256 36.1744L28.6744 38.8256L12.3487 22.5L28.6744 6.17438L31.3256 8.82563Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.6744 8.82563L27.3488 22.5L13.6744 36.1744L16.3256 38.8256L32.6513 22.5L16.3256 6.17438L13.6744 8.82563Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
