@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Users";
    ViewData["Nav"] = "nav-manage-user";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a sp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

<div class="card border-0 p-4">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-auto h3 align-item-center page-title">
            @ViewData["Title"]
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-auto d-flex justify-content-end align-item-center">
            <div class="row">
                <div class="col-auto mt-lg-0 mt-md-3 mt-sm-3 mt-xs-3">
                    <div class="s006">
                        <form>
                            <div class="inner-form">
                                <div class="input-field">
                                    <button class="btn-search" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                            </path>
                                        </svg>
                                    </button>
                                    <input id="search" type="text" placeholder="" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-auto mt-lg-0 mt-md-3 mt-sm-3 mt-xs-3">
                    <button class="btn-primary">
                        <svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_31_136)">
                                <path
                                    d="M19 35.625C14.5908 35.625 10.3621 33.8734 7.24435 30.7556C4.12656 27.6379 2.375 23.4092 2.375 19C2.375 14.5908 4.12656 10.3621 7.24435 7.24435C10.3621 4.12656 14.5908 2.375 19 2.375C23.4092 2.375 27.6379 4.12656 30.7556 7.24435C33.8734 10.3621 35.625 14.5908 35.625 19C35.625 23.4092 33.8734 27.6379 30.7556 30.7556C27.6379 33.8734 23.4092 35.625 19 35.625ZM19 38C24.0391 38 28.8718 35.9982 32.435 32.435C35.9982 28.8718 38 24.0391 38 19C38 13.9609 35.9982 9.12816 32.435 5.56497C28.8718 2.00178 24.0391 0 19 0C13.9609 0 9.12816 2.00178 5.56497 5.56497C2.00178 9.12816 0 13.9609 0 19C0 24.0391 2.00178 28.8718 5.56497 32.435C9.12816 35.9982 13.9609 38 19 38Z"
                                    fill="black" />
                                <path
                                    d="M19 9.5C19.3149 9.5 19.617 9.62511 19.8397 9.84781C20.0624 10.0705 20.1875 10.3726 20.1875 10.6875V17.8125H27.3125C27.6274 17.8125 27.9295 17.9376 28.1522 18.1603C28.3749 18.383 28.5 18.6851 28.5 19C28.5 19.3149 28.3749 19.617 28.1522 19.8397C27.9295 20.0624 27.6274 20.1875 27.3125 20.1875H20.1875V27.3125C20.1875 27.6274 20.0624 27.9295 19.8397 28.1522C19.617 28.3749 19.3149 28.5 19 28.5C18.6851 28.5 18.383 28.3749 18.1603 28.1522C17.9376 27.9295 17.8125 27.6274 17.8125 27.3125V20.1875H10.6875C10.3726 20.1875 10.0705 20.0624 9.84781 19.8397C9.62511 19.617 9.5 19.3149 9.5 19C9.5 18.6851 9.62511 18.383 9.84781 18.1603C10.0705 17.9376 10.3726 17.8125 10.6875 17.8125H17.8125V10.6875C17.8125 10.3726 17.9376 10.0705 18.1603 9.84781C18.383 9.62511 18.6851 9.5 19 9.5Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_31_136">
                                    <rect width="38" height="38" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        Add
                    </button>
                </div>
                <div class="col-auto mt-lg-0 mt-md-3 mt-sm-3 mt-xs-3">
                    <button class="btn-outline-primary">
                        <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.125 22.275C1.42337 22.275 1.70952 22.3935 1.9205 22.6045C2.13147 22.8155 2.25 23.1016 2.25 23.4V29.025C2.25 29.6217 2.48705 30.194 2.90901 30.616C3.33097 31.038 3.90326 31.275 4.5 31.275H31.5C32.0967 31.275 32.669 31.038 33.091 30.616C33.5129 30.194 33.75 29.6217 33.75 29.025V23.4C33.75 23.1016 33.8685 22.8155 34.0795 22.6045C34.2905 22.3935 34.5766 22.275 34.875 22.275C35.1734 22.275 35.4595 22.3935 35.6705 22.6045C35.8815 22.8155 36 23.1016 36 23.4V29.025C36 30.2185 35.5259 31.3631 34.682 32.207C33.8381 33.0509 32.6935 33.525 31.5 33.525H4.5C3.30653 33.525 2.16193 33.0509 1.31802 32.207C0.474106 31.3631 0 30.2185 0 29.025V23.4C0 23.1016 0.118526 22.8155 0.329505 22.6045C0.540483 22.3935 0.826631 22.275 1.125 22.275Z"
                                fill="black" />
                            <path
                                d="M17.2035 26.6715C17.308 26.7763 17.4321 26.8594 17.5688 26.9161C17.7055 26.9728 17.852 27.002 18 27.002C18.148 27.002 18.2945 26.9728 18.4312 26.9161C18.5678 26.8594 18.692 26.7763 18.7965 26.6715L25.5465 19.9215C25.7577 19.7103 25.8764 19.4237 25.8764 19.125C25.8764 18.8263 25.7577 18.5397 25.5465 18.3285C25.3352 18.1173 25.0487 17.9986 24.75 17.9986C24.4512 17.9986 24.1647 18.1173 23.9535 18.3285L19.125 23.1593V3.375C19.125 3.07663 19.0065 2.79048 18.7955 2.5795C18.5845 2.36853 18.2984 2.25 18 2.25C17.7016 2.25 17.4155 2.36853 17.2045 2.5795C16.9935 2.79048 16.875 3.07663 16.875 3.375V23.1593L12.0465 18.3285C11.8352 18.1173 11.5487 17.9986 11.25 17.9986C10.9512 17.9986 10.6647 18.1173 10.4535 18.3285C10.2422 18.5397 10.1236 18.8263 10.1236 19.125C10.1236 19.4237 10.2422 19.7103 10.4535 19.9215L17.2035 26.6715Z"
                                fill="black" />
                        </svg>
                        Import
                    </button>
                </div>
                <div class="col-auto mt-lg-0 mt-md-3 mt-sm-3 mt-xs-3">
                    <button class="btn-primary">
                        <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.09375 21.6562C1.38383 21.6562 1.66203 21.7715 1.86715 21.9766C2.07227 22.1817 2.1875 22.4599 2.1875 22.75V28.2188C2.1875 28.7989 2.41797 29.3553 2.8282 29.7655C3.23844 30.1758 3.79484 30.4062 4.375 30.4062H30.625C31.2052 30.4062 31.7616 30.1758 32.1718 29.7655C32.582 29.3553 32.8125 28.7989 32.8125 28.2188V22.75C32.8125 22.4599 32.9277 22.1817 33.1329 21.9766C33.338 21.7715 33.6162 21.6562 33.9062 21.6562C34.1963 21.6562 34.4745 21.7715 34.6796 21.9766C34.8848 22.1817 35 22.4599 35 22.75V28.2188C35 29.3791 34.5391 30.4919 33.7186 31.3123C32.8981 32.1328 31.7853 32.5938 30.625 32.5938H4.375C3.21468 32.5938 2.10188 32.1328 1.28141 31.3123C0.460936 30.4919 0 29.3791 0 28.2188V22.75C0 22.4599 0.115234 22.1817 0.320352 21.9766C0.52547 21.7715 0.803669 21.6562 1.09375 21.6562Z"
                                fill="black" />
                            <path
                                d="M16.7256 2.50688C16.8272 2.40502 16.9479 2.32421 17.0808 2.26907C17.2137 2.21393 17.3561 2.18555 17.5 2.18555C17.6439 2.18555 17.7863 2.21393 17.9192 2.26907C18.0521 2.32421 18.1728 2.40502 18.2744 2.50688L24.8369 9.06938C25.0423 9.27475 25.1576 9.5533 25.1576 9.84375C25.1576 10.1342 25.0423 10.4127 24.8369 10.6181C24.6315 10.8235 24.353 10.9389 24.0625 10.9389C23.7721 10.9389 23.4935 10.8235 23.2881 10.6181L18.5938 5.92156V25.1562C18.5938 25.4463 18.4785 25.7245 18.2734 25.9296C18.0683 26.1348 17.7901 26.25 17.5 26.25C17.2099 26.25 16.9317 26.1348 16.7266 25.9296C16.5215 25.7245 16.4063 25.4463 16.4063 25.1562V5.92156L11.7119 10.6181C11.6102 10.7198 11.4895 10.8005 11.3566 10.8555C11.2237 10.9106 11.0813 10.9389 10.9375 10.9389C10.7937 10.9389 10.6513 10.9106 10.5184 10.8555C10.3856 10.8005 10.2648 10.7198 10.1631 10.6181C10.0614 10.5164 9.98077 10.3957 9.92574 10.2628C9.8707 10.13 9.84238 9.98757 9.84238 9.84375C9.84238 9.69994 9.8707 9.55753 9.92574 9.42466C9.98077 9.29179 10.0614 9.17107 10.1631 9.06938L16.7256 2.50688Z"
                                fill="black" />
                        </svg>
                        Export
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr class="content-hr-divider">
    
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td>#</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Username</td>
                    <td>Role (s)</td>
                    <td>Email</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Carter</td>
                    <td>johncarter888</td>
                    <td><button class="role-card role-superadmin">Super Admin</button></td>
                    <td>john.c@gmail.com</td>
                    <td>
                        <a asp-controller="ManageUser" asp-action="EditUser" class="edit-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_24_396)">
                                    <path
                                        d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_24_396">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Scott</td>
                    <td>Lang</td>
                    <td>sclng123</td>
                    <td><button class="role-card role-superadmin">Super Admin</button></td>
                    <td>scott.l@gmail.com</td>
                    <td>
                        <a asp-controller="ManageUser" asp-action="EditUser" class="edit-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_24_396)">
                                    <path
                                        d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_24_396">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tony</td>
                    <td>Stark</td>
                    <td>ironmanboi</td>
                    <td>
                        <button class="role-card role-admin">Admin</button>
                        <button class="role-card role-operator">Operator</button>
                    </td>
                    <td>tony.s@gmail.com</td>
                    <td>
                        <a asp-controller="ManageUser" asp-action="EditUser" class="edit-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_24_396)">
                                    <path
                                        d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_24_396">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Steve</td>
                    <td>Rogers</td>
                    <td>capt999</td>
                    <td>
                        <button class="role-card role-admin">Admin</button>
                        <button class="role-card role-operator">Operator</button>
                    </td>
                    <td>steve.r@gmail.com</td>
                    <td>
                        <a asp-controller="ManageUser" asp-action="EditUser" class="edit-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_24_396)">
                                    <path
                                        d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_24_396">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nick</td>
                    <td>Fury</td>
                    <td>madman54</td>
                    <td>
                        <button class="role-card role-admin">Admin</button>
                        <button class="role-card role-editor">Editor</button>
                    </td>
                    <td>nick.f@gmail.com</td>
                    <td>
                        <a asp-controller="ManageUser" asp-action="EditUser" class="edit-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_24_396)">
                                    <path
                                        d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_24_396">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Shang</td>
                    <td>Chi</td>
                    <td>tenring2</td>
                    <td>
                        <button class="role-card role-editor">Editor</button>
                    </td>
                    <td>shang.s@gmail.com</td>
                    <td>
                        <a asp-controller="ManageUser" asp-action="EditUser" class="edit-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_24_396)">
                                    <path
                                        d="M34.6578 3.37771C34.877 3.59749 35 3.89516 35 4.20549C35 4.51582 34.877 4.8135 34.6578 5.03328L32.2117 7.48145L27.5211 2.79146L29.9672 0.343291C30.1871 0.123482 30.4854 0 30.7963 0C31.1072 0 31.4055 0.123482 31.6254 0.343291L34.6578 3.37537V3.37771ZM30.5536 9.13701L25.863 4.44703L9.88449 20.4258C9.75541 20.5548 9.65824 20.7122 9.60071 20.8854L7.71274 26.5462C7.67851 26.6494 7.67364 26.7601 7.6987 26.8659C7.72376 26.9717 7.77776 27.0685 7.85465 27.1454C7.93155 27.2222 8.02831 27.2762 8.13413 27.3013C8.23994 27.3263 8.35064 27.3215 8.45386 27.2873L14.1154 25.3995C14.2884 25.3427 14.4458 25.2464 14.5751 25.1181L30.5536 9.13701Z"
                                        fill="black" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.853653 30.5793C0.853653 31.5253 1.22947 32.4326 1.89842 33.1016C2.56738 33.7705 3.47468 34.1463 4.42073 34.1463H30.5793C31.5253 34.1463 32.4326 33.7705 33.1016 33.1016C33.7705 32.4326 34.1463 31.5253 34.1463 30.5793V16.311C34.1463 15.9956 34.0211 15.6932 33.7981 15.4702C33.5751 15.2472 33.2727 15.122 32.9573 15.122C32.642 15.122 32.3395 15.2472 32.1165 15.4702C31.8936 15.6932 31.7683 15.9956 31.7683 16.311V30.5793C31.7683 30.8946 31.643 31.1971 31.42 31.42C31.197 31.643 30.8946 31.7683 30.5793 31.7683H4.42073C4.10538 31.7683 3.80294 31.643 3.57996 31.42C3.35697 31.1971 3.2317 30.8946 3.2317 30.5793V4.42073C3.2317 4.10538 3.35697 3.80295 3.57996 3.57997C3.80294 3.35698 4.10538 3.23171 4.42073 3.23171H19.878C20.1934 3.23171 20.4958 3.10644 20.7188 2.88345C20.9418 2.66047 21.0671 2.35803 21.0671 2.04268C21.0671 1.72734 20.9418 1.4249 20.7188 1.20192C20.4958 0.978932 20.1934 0.853661 19.878 0.853661H4.42073C3.47468 0.853661 2.56738 1.22948 1.89842 1.89843C1.22947 2.56739 0.853653 3.47469 0.853653 4.42073V30.5793Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_24_396">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a href="" class="delete-data">
                            <svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.2188 2.1875H20.7812C21.0713 2.1875 21.3495 2.30273 21.5546 2.50785C21.7598 2.71297 21.875 2.99117 21.875 3.28125V5.46875H13.125V3.28125C13.125 2.99117 13.2402 2.71297 13.4454 2.50785C13.6505 2.30273 13.9287 2.1875 14.2188 2.1875ZM24.0625 5.46875V3.28125C24.0625 2.41101 23.7168 1.57641 23.1014 0.961056C22.4861 0.345702 21.6515 0 20.7812 0L14.2188 0C13.3485 0 12.5139 0.345702 11.8986 0.961056C11.2832 1.57641 10.9375 2.41101 10.9375 3.28125V5.46875H5.48188C5.47458 5.46869 5.46729 5.46869 5.46 5.46875H3.28125C2.99117 5.46875 2.71297 5.58398 2.50785 5.7891C2.30273 5.99422 2.1875 6.27242 2.1875 6.5625C2.1875 6.85258 2.30273 7.13078 2.50785 7.3359C2.71297 7.54102 2.99117 7.65625 3.28125 7.65625H4.45813L6.32406 30.975C6.41205 32.0714 6.90977 33.0944 7.7181 33.8403C8.52643 34.5862 9.58605 35.0002 10.6859 35H24.3141C25.414 35.0002 26.4736 34.5862 27.2819 33.8403C28.0902 33.0944 28.5879 32.0714 28.6759 30.975L30.5419 7.65625H31.7188C32.0088 7.65625 32.287 7.54102 32.4921 7.3359C32.6973 7.13078 32.8125 6.85258 32.8125 6.5625C32.8125 6.27242 32.6973 5.99422 32.4921 5.7891C32.287 5.58398 32.0088 5.46875 31.7188 5.46875H29.5422C29.5349 5.46869 29.5276 5.46869 29.5203 5.46875H24.0625ZM28.3456 7.65625L26.495 30.8C26.451 31.3482 26.2021 31.8597 25.798 32.2326C25.3938 32.6056 24.864 32.8126 24.3141 32.8125H10.6859C10.136 32.8126 9.60618 32.6056 9.20202 32.2326C8.79786 31.8597 8.549 31.3482 8.505 30.8L6.65438 7.65625H28.3456ZM11.9678 9.84375C12.2573 9.82702 12.5416 9.92592 12.7581 10.1187C12.9747 10.3115 13.1059 10.5824 13.1228 10.8719L14.2166 29.4656C14.2281 29.7517 14.1269 30.0309 13.9349 30.2432C13.7428 30.4556 13.4751 30.5841 13.1893 30.6013C12.9035 30.6185 12.6224 30.5229 12.4063 30.3351C12.1902 30.1473 12.0563 29.8823 12.0334 29.5969L10.9375 11.0031C10.9286 10.8594 10.9482 10.7154 10.9951 10.5793C11.042 10.4432 11.1153 10.3177 11.2108 10.21C11.3064 10.1023 11.4222 10.0145 11.5517 9.95161C11.6812 9.88877 11.8219 9.85211 11.9656 9.84375H11.9678ZM23.0322 9.84375C23.1759 9.85211 23.3166 9.88877 23.4461 9.95161C23.5756 10.0145 23.6915 10.1023 23.787 10.21C23.8825 10.3177 23.9558 10.4432 24.0027 10.5793C24.0496 10.7154 24.0692 10.8594 24.0603 11.0031L22.9666 29.5969C22.9607 29.7422 22.926 29.8849 22.8643 30.0167C22.8026 30.1484 22.7153 30.2666 22.6074 30.3641C22.4995 30.4617 22.3732 30.5368 22.236 30.585C22.0987 30.6332 21.9533 30.6535 21.8081 30.6448C21.6629 30.636 21.5209 30.5984 21.3904 30.5341C21.2599 30.4699 21.1435 30.3802 21.0481 30.2704C20.9527 30.1606 20.8801 30.0329 20.8347 29.8947C20.7892 29.7565 20.7718 29.6106 20.7834 29.4656L21.8772 10.8719C21.8941 10.5824 22.0253 10.3115 22.2419 10.1187C22.4584 9.92592 22.7427 9.82702 23.0322 9.84375ZM17.5 9.84375C17.7901 9.84375 18.0683 9.95898 18.2734 10.1641C18.4785 10.3692 18.5938 10.6474 18.5938 10.9375V29.5312C18.5938 29.8213 18.4785 30.0995 18.2734 30.3046C18.0683 30.5098 17.7901 30.625 17.5 30.625C17.2099 30.625 16.9317 30.5098 16.7266 30.3046C16.5215 30.0995 16.4062 29.8213 16.4062 29.5312V10.9375C16.4062 10.6474 16.5215 10.3692 16.7266 10.1641C16.9317 9.95898 17.2099 9.84375 17.5 9.84375Z"
                                    fill="black" />
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4">
        <div class="d-flex align-items-center">
            Showing 1 to 6 of 10 rows
            <div class="dropdown mx-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    10
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item active" href="#">10</a></li>
                    <li><a class="dropdown-item" href="#">100</a></li>
                </ul>
            </div>
            rows per page
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-lg-end mt-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M31.3256 8.82563L17.6512 22.5L31.3256 36.1744L28.6744 38.8256L12.3487 22.5L28.6744 6.17438L31.3256 8.82563Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.6744 8.82563L27.3488 22.5L13.6744 36.1744L16.3256 38.8256L32.6513 22.5L16.3256 6.17438L13.6744 8.82563Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
